body{
    background-color: #414040;
}

.lamp{
    position: relative;
    margin: 0 auto;
    width: 1rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-image: 
        linear-gradient(#000000b3, #000000b3),
        linear-gradient(#000000b3, #000000b3),
        linear-gradient(#000000b3, #000000b3);
    background-size: 
        0.2rem 8rem,
        0.4rem 0.8rem,
        0.8rem 2rem;
    background-position: 
        50% 0,   
        50% 8rem,   
        50% 8.8rem;   
}

.lamp::before, .lamp::after{
    content: "";
    position: absolute;
}

.lamp::before{
    bottom: -4rem;
    left: -1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #ffffff08;  
    box-shadow: inset 0px 0px 10px #ffffff12;
    transition: all 0.75s;
}

.light, .light::before{
    position: absolute;
}

.light{
    width: 0.2rem;
    height: 1.2rem;
    background: #ffffff0d;
    top: 10rem;
    left: 0.4rem;
}

.light::before{
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid #ffffff0d;
    top: 1.2rem;
    left: -0.6rem;
    box-shadow: 0px 0px 50px #ffffff00; 
}

.switch{
    position: relative;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    appearance: none;
    display: block;
    cursor: pointer;
    top: 14rem;
    z-index: 2;
    outline: none;
}

input:checked~.lamp::before{
    background: #ffffff;
    box-shadow: 
        0px 0px 10px #ffffffcc,
        0px 5px 50px #ffffffcc,
        0px 8px 80px #ffffff99,
        0px 8px 120px #ffffff99;
}